h1{
  text-align: center;
  padding-top: 10px;
}

.container{
  text-align: center;
}
.h2, h2 {
    font-size: 1.5rem!important;
    text-align: center;
    border-bottom: 1px solid #e0e5e9;
    padding: 5px;
}
html.js-focus-visible {
    height: 100%!important;
}
html.js-focus-visible body {
  background: linear-gradient(180deg, rgba(252,252,255,1) 0%, rgba(233,235,255,1) 78%);
  /*background:#f4f8fc;*/
  color: #18164c;
  overflow-x: hidden;
  overflow-y: hidden;
}


td {
  border: 1px solid #dee2e6;
}

tr {
  text-align: center;
}

table {
    width: 100%;
}

.col{
  padding-top: 15px;
}

.charts {
    padding-left: 55px;
}

canvas#myChart{
    height: 200px!important;
    width: 400px!important;
}

canvas#myChart1{
    height: 200px!important;
    width: 400px!important;
}

.card {
    border-radius: .625rem;
    box-shadow: 0 2px 4px 0 rgba(1,1,2,.16);
    border: none;
}

.col-charts{
  margin-top: -112px;
}

span.ratio {
    float: right;
}

.col.youtube {
    text-align: center;
}

.ytp-chrome-top.ytp-show-cards-title {
    display: none!important;
}

